<h1><%= @title %></h1>

<h2>All meetups</h2>

<dl>
<div class="meetup-list-box1"><div class="meetup-list-box2">
<% Meetup.order(:name).each do |meetup| %>
  <div class="meetup-title">
    <dt><div class="meetup-link"><a href="/meetups/<%= meetup.id %>"><strong><%= meetup.name %></strong></a></div></dt>
  </div>
  <div class="meetup-info">
    <dd><strong>Location:</strong> <%= meetup.location %> </dd>
    <dd><strong>Description:</strong> <%= meetup.description %> </dd>
  </div>
<% end %>
</div>
</div>
<h2><a href="/new">Make a new Meetup!</a></h2>

</dl>
